* {
  font-family: fantasy;
}

.siteHeader {
  height: 75px;
  background-color:#F8333C;
  background-image: linear-gradient(to bottom right, #F8333C, #FCAB10);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FCAB10;
}

.siteTitle {
  text-align: center;
  font-size: 45px;
  color: white;
  padding-top: 10px;
}
