.card {
  box-sizing: border-box;
  border: 2px solid #44AF69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  background-image: linear-gradient(to bottom left, #44AF69, #2B9EB3);
  padding: 25px 0px 17px 0px;
  height: 435px;
  border: rgb(95, 93, 93) 2px solid
}

.card:hover {
  transform: scale(1.1);
}

.moviePicture {
  width: 100%;
  height: 330px;
  border-radius: 5px;
}

.moviePicture:hover {
  cursor: pointer;
}

.movieTitle {
  font-size: 18px;
  padding: 7px 0px 0px 0px;
  margin: 0px;
  color: white;
}

.movieRating {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}