.moviesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

html {
  background-color: black;
}

.dropdown {
  display: flex;
  justify-content: center;
  font-size: 50px;
  background: black;
}