.movieBackdrop {
  background-size: cover;
  background-repeat: no-repeat;
}

.movieContainer {
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right,
	rgba(199.5, 220.5, 220.5, .70) 150px, rgba(199.5, 220.5, 220.5, 0.70) 100%);
}

.moviePoster {
  height: 400px;
  width: 300px;
  border-radius: 7px;
}

.movieInfo {
  width: 50%;
  background-image: linear-gradient(to bottom right, #FCAB10, white);
  border-radius: 7px;
  padding: 10px 15px 5px 15px;
  display: flex;
  flex-direction: column;
}

.infoTitle {
  font-size: 17px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}

.infoContent {
  font-size: 15px;
  font-weight: normal;
}

.arrow-flex {
  display: flex;
  flex-direction: row-reverse;
}

.arrow {
  height: 30px;
  width: 30px;
}

.arrow:hover {
  transform: scale(1.3);
}

.error {
  color: red;
}
