.card {
  box-sizing: border-box;
  border: 2px solid #44AF69;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  /* background-color: #44AF69;  */
  background-image: linear-gradient(to bottom left, #44AF69, #2B9EB3);
  padding: 25px 0px 17px 0px;
  /* height: 423px; */
  height: 435px;
  /* padding: 25px 0px 17px 0px;
  height: 457px; */
}

.moviePicture {
  /* height: 70%;
  width: 90%; */
  width: 73%;
  height: 330px;
  border-radius: 5px;
}

.moviePicture:hover {
  cursor: pointer;
}

.movieTitle {
  font-size: 18px;
  padding: 7px 0px 0px 0px;
  margin: 0px;
  font-family: fantasy;
  color: white;
}

.movieRating {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}