.movieBackdrop {
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh;
  width: 100vw; */
}

.movieContainer {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.moviePoster {
  height: 400px;
  width: 300px;
}

.movieInfo {
  height: 400px;
  width: 300px;
  border: 2px solid orange;
  background-color: rgb(234, 160, 22);
}